body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .ui {
    margin: 5% 20%;
    height: 480px;
  }
  .ui-new-list {
    margin: 5% 20%;
    height: 480px;
    filter: blur(8px);
  }
  .head-container {
    height: 100px;
  }
  .title {
    display: inline-block;
  }
  .left-title {
    float: left;
    margin-top: -40px;
    margin-left: 20px;
    font-size: 60px;
    color: rgb(141, 119, 119);
  }
  .right-title {
    margin-top: 45px;
    margin-right: 20px;
    float: right;
  }
  .add {
    display: inline-block;
  }
  
  .circle {
    border-radius: 50%;
    background-color: rgb(243, 19, 19);
    border: none;
    width: 40px;
    height: 40px;
  }
  .ver {
    border-left: 2px solid white;
    border-radius: 10px;
    position: relative;
    height: 20px;
    width: 0px;
    padding: 0px;
    margin: 0px;
    left: 19px;
    bottom: 30px;
  }
  .hor {
    border-bottom: 2px solid white;
    border-radius: 10px;
    position: relative;
    width: 20px;
    padding: 0px;
    margin: 0px;
    left: 10px;
    bottom: 41px;
  }
  .add-text {
    margin-left: 13px;
    position: relative;
    top: -30px;
    font-size: 32px;
    font-weight: 100;
    color: grey;
  }
  .cards-container {
    position: relative;
    top: -60px;
    left: -250px;

    height: 400px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .cards {
    margin-top: 30px;
    border: 1px solid #d30f08;
    height: 330px;
    width: 220px;
    border-radius: 10px;
    /* display: inline-block; */
    box-shadow: 10px 10px 10px #ada8a8;
  }
  .card1 {
    margin-left: 20px;
  }
  
  .task-title {
    font-size: 30px;
    margin-bottom: 15px;
    color: #f11009;
    font-weight: lighter;
  }
  .line {
    border: none;
    border-top: 1px solid grey;
    margin-left: 30px;
  }
  .task-body {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 23px;
    /* font-weight: 400; */
    color: #f52e27;
    text-decoration-line: line-through;
  }
  .check {
    text-align: left;
    font-size: 23px;
    padding-left: 10px;
  }
  .check-box {
    transform: scale(1.5);
    position: relative;
    top: -1px;
  }
  .new-list {
    color: #f52e27;
    font-size: 20px;
    text-align: center;
    border: 1px solid #f52e27;
    border-radius: 10px;
    background-color: white;
    height: 180px;
    width: 350px;
    padding: 15px;
    line-height: 50px;
    position: absolute;
    top: 200px;
    left: 480px;
    box-shadow: 10px 10px 10px #d6d0d0;
  }
  .input {
    border-radius: 3px;
    /* color: white; */
  }
  .list {
    transform: scaleX(1.7) scaleY(2);
    border: thin solid #f52e27;
    box-shadow: 2px 2px 3px #d6d0d0;
  }
  .btn {
    margin-top: 30px;
    transform: scale(1.5);
    border-radius: 15px;
    border: none;
    color: white;
    background-color: #f52e27;
    padding: 5px 15px;
  }
  .ui-trip {
    text-align: center;
    padding-top: 30px;
  }
  .title-trip {
    /* text-decoration: line-through; */
    font-size: 60px;
    font-weight: bolder;
  }
  .title-trip-space {
    text-decoration: line-through;
    font-weight: 100;
    color: gray;
  }
  .back {

    display: inline-block;
  }
  .back-logo-circle {
    border-radius: 50%;
    background-color: rgb(243, 19, 19);
    border: none;
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  .arrow {
    position: relative;
    top: 10px;
    left: 11px;
  }
  .top-arrow {
    border-bottom: 2px solid white;
    border-radius: 10px;
    width: 12px;
    transform: rotate(-45deg);
    position: relative;
    top: 4px;
  }
  .straight-arrow {
    border-bottom: 2px solid white;
    border-radius: 10px;
    width: 17px;
    position: relative;
    top: 6px;
    left: 1px;
  }
  .bottom-arrow {
    border-bottom: 2px solid white;
    border-radius: 10px;
    /* height: 20px; */
    width: 12px;
    transform: rotate(-135deg);
    position: relative;
    top: 8px;
    left: 0px;
  }
  .back-text {
    color: gray;
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    position: relative;
    top: -10px;
    left: 15px;
  }
  .card-trip {
    display: inline-block;
    padding-left: 100px;
    width: 350px;
    height: 400px;
    /* padding-right: 100px; */
  }
  .task-title-trip {
    position: relative;
    left: -65px;
    font-weight: 400;
  }
  .task-body-trip {
    position: relative;
    left: -60px;
    font-weight: 700;
  }
  .add-logo-trip {
    position: relative;
    left: 190px;
    bottom: 70px;
  }
  .ui-new-trip {
 
    height: 480px;
    filter: blur(8px);
  }
  .new-trip {
    position: absolute;
    top: 270px;
    left: 480px;
  }
  @media screen and (min-width: 480px) and (max-width: 1000px) {
    .ui {
      margin: 0px;
      width: auto;
    
    }
    .head-container {
    
      width: auto;
      padding-right: 10px;
      padding-bottom: 100px;
    }
    .left-title {
    
  
      margin-left: 10px;
      
    }
    .right-title {
    
      width: auto;
      padding-right: 10px;
      height: 40px;
      margin-right: 0px;
    }
    .add-logo {
      left: 100px;
    }
    .task-body {
      visibility: hidden;
    }
    form {
      visibility: hidden;
    }
    .line {
      visibility: hidden;
    }
    .cards-container {
      position: relative;
      left: 0px;
      padding: 20px;
      flex-direction: column;
    
      width: auto;
      height: auto;
    }
    .cards {
      text-align: left;
      height: 40px;
      width: auto;
      border-color: gainsboro;
      margin: 20px 0px;
      padding: 20px;
    }
    .task-title {
      margin: 0px;
      color: black;
      margin-bottom: 20px;
    }
    .line-trip {
      visibility: initial;
      width: 240px;
      margin-right: 0px;
      padding-right: 0px;
    }
    .task-body-trip {
      visibility: initial;
    }
    .check-trip {
      visibility: initial;
    }
    .container-card-trip {
      margin: 0px;
      position: relative;
      top: 100px;
      transform: scale(1.4, 1.4);
    }
    .card-trip {
      margin: 0px;
      border: 1px solid #f52e27;
      height: 400px;
      width: 250px;
      border-radius: 10px;
      box-shadow: 10px 10px 10px #d6d0d0;
    }
    .task-title-trip {
      position: initial;
      padding-top: 30px;
      padding-right: 40px;
      text-align: center;
      color: #f52e27;
    }
    .task-body-trip {
      position: initial;
    }
    .add-logo-trip {
      position: relative;
      left: 100px;
    }
    .form-new-list {
      visibility: initial;
    }
    .ui-new-list {
      margin: 0px;
    }
    .new-list {
      transform: scale(1.4, 1.4);
      position: absolute;
      top: 350px;
      left: 220px;
      width: 300px;
    }
    .form-new-trip {
      visibility: initial;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 480px) {
    .ui {
      margin: 0px;
      width: 320px;
    
    }
    .head-container {
    
      width: 350px;
      padding-right: 10px;
    }
    .left-title {
    
  
      margin-left: 10px;
      
    }
    .right-title {
    
      width: 40px;
      height: 40px;
      margin-right: 0px;
    }
    .add-text {
      visibility: hidden;
    }
    .task-body {
      visibility: hidden;
    }
    form {
      visibility: hidden;
    }
    .line {
      visibility: hidden;
    }
    .cards-container {
      position: relative;
      left: 0px;
      flex-direction: column;
    
      width: 355px;
      height: 560px;
    }
    .cards {
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      height: 40px;
      width: 290px;
      border-color: gainsboro;
      padding: 20px;
    }
    .task-title {
      margin: 0px;
      color: black;
      margin-bottom: 20px;
    }
    .title-trip-space {
      visibility: hidden;
    }
    .title-trip {
    
      width: 525px;
      position: relative;
      left: -130px;
      font-size: 50px;
    }
    .back {
      position: absolute;
      left: 18px;
      top: 60px;
    }
    .back-text {
      visibility: hidden;
    }
    .line-trip {
      visibility: initial;
      width: 240px;
      margin-right: 0px;
      padding-right: 0px;
    }
    .task-body-trip {
      visibility: initial;
    }
    .check-trip {
      visibility: initial;
    }
    .container-card-trip {
      margin: 0px;
      position: relative;
      top: -100px;
    }
    .card-trip {
      margin: 0px;
      border: 1px solid #f52e27;
      height: 400px;
      width: 250px;
      border-radius: 10px;
      box-shadow: 10px 10px 10px #d6d0d0;
    }
    .task-title-trip {
      position: initial;
      padding-top: 30px;
      padding-right: 40px;
      text-align: center;
      color: #f52e27;
    }
    .task-body-trip {
      position: initial;
    }
    .add-logo-trip {
      position: relative;
      left: 100px;
    }
    .form-new-list {
      visibility: initial;
    }
    .ui-new-list {
      margin: 0px;
    }
    .new-list {
      position: absolute;
      top: 300px;
      left: 20px;
      width: 300px;
    }
    .form-new-trip {
      visibility: initial;
    }
  }
   